body{
    background-image:url("./images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #282828;
}


.nav--bar{
    background-color:#282828;
    max-width: 80vw;
    min-width: 40vw;
    height: 10vh;
    justify-self: center;
    margin: 2% auto 0;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

ul{
    text-decoration: none;
    list-style: none;
    width: 100%;
    min-height: 100%;
    display: flex;
    padding: 0;
    justify-content: space-between;
    align-items: center;
}
li{
    min-height: 100%;
    margin: 0 25px;
}

.nav--bar-left{
    display:flex;
    min-height: 100%;

}

.nav--bar-right{
    display: flex;
    float:right;
}

.nav--bar-elements{
    min-height: 100%;
    min-width: 10%;


}
.nav--bar-elements:hover{
    background-color:#2dca4b;
}

a{
    color:#2dca4b;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 40px;
    text-decoration: none;
    text-align: center;
}
a:hover{
    color: #282828;
}

.main--content{
    background-color: #282828;
    max-width: 80vw;
    display: flex;
    min-height: 80vh;
    border: 0px;
    border-top: 5px;
    border-color: #141414;
    border-style:groove;
    margin: 0 auto;
}

h1{
    color: #efeff1;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 60px;
    margin:20px;
    text-align: center;

}

.content--left{
    max-width: 50%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items:center;
    margin: 20px;

}
p{
    color: #efeff1; 
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    margin: 20px 0;
}

.content--right{
    max-width: 50%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items:center;
    margin: 20px;

}

.content--right-img{
    width: 100%;
    border-radius: 10px;
    border: 5px;
    border-style: dotted;
    border-color: #141414;
}
footer{
    
}


@media screen and (max-width:1150px){
    a{
        font-size: 20px;
    }
    .nav--bar-elements{
        min-height: 100%;
        min-width: 10%;
        padding: 25px;
    }
}

